.tree-node {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    font-family: Rob-Med;
    font-size: 2vw;
    margin-left: 0.5vw;

    & span {
        padding: 1vh;
        border-left: 0.5vh solid #00a2ff;
    }
}